# Ejercicios de agua subterránea

In [1]:
import numpy as np

import pandas as pd

from matplotlib import pyplot as plt
%matplotlib inline
plt.style.use('dark_background')
#plt.style.use('seaborn-whitegrid')

## <font color=steelblue>Ejercicio 2 - Textura de los suelos

<font color=steelblue>Determinar la textura de los siguientes suelos.</font>
    
<img src="SoilTextureTriangle.jpg" alt="Mountain View" style="width:500px">
    
| Ø (mm)| 50  | 19  | 9.5 | 4.76 | 2   | 0.42 | 0.074 | 0.02 | 0.005 | 0.002 |
|-------|-----|-----|-----|------|-----|------|-------|------|-------|-------|
| A1    | 100 | 100 | 100 | 100  | 100 | 100  | 97    | 79   | 45    | 16    |
| B1    | 100 | 100 | 98  | 94   | 70  | 19   | 15    | 8    | 3     | 2     |
| C1    | 93  | 91  | 88  | 85   | 69  | 44   | 40    | 27   | 13    | 6     |
| D1    | 100 | 100 | 100 | 100  | 100 | 97   | 92    | 75   | 47    | 31    |

In [12]:
suelos = ['A1', 'B1', 'C1', 'D1']
phi = [50, 19, 9.5, 4.76, 2.0, 0.420, 0.074, 0.02, 0.005, 0.002]
A1 = [100, 100, 100, 100, 100, 100, 97, 79, 45, 16]
B1 = [100, 100, 98, 94, 70, 19, 15, 8, 3, 2]
C1 = [93, 91, 88, 85, 69, 44, 40, 27, 13, 6]
D1 = [100, 100, 100, 100, 100, 97, 92, 75, 47, 31]

datos = pd.DataFrame(data=[A1, B1, C1, D1], index=suelos, columns=phi)
datos

,50.0,19.0,9.5,4.76,2.0,0.42,0.074,0.02,0.005,0.002
A1,100,100,100,100,100,100,97,79,45,16
B1,100,100,98,94,70,19,15,8,3,2
C1,93,91,88,85,69,44,40,27,13,6
D1,100,100,100,100,100,97,92,75,47,31

In [13]:
# extraer datos de los límites de cada una de las texturas
limites = [2, 0.074, 0.02, 0.002]
datos_f = datos.loc[:, limites]
datos_f

    2.000  0.074  0.020  0.002
A1    100     97     79     16
B1     70     15      8      2
C1     69     40     27      6
D1    100     92     75     31

In [14]:
# interpolar linealmente el % que pasa un diámetro de 0.05 mm, límite entre arena y limo
datos_f[0.05] = (0.05 - 0.074) * (datos_f[0.02] - datos_f[0.074]) / (0.02 - 0.074) + datos_f[0.074]
datos_f.sort_index(axis=1, ascending=False, inplace=True)
datos_f.drop([0.074, 0.02], axis=1, inplace=True)
datos_f

    2.000      0.050  0.002
A1    100  89.000000     16
B1     70  11.888889      2
C1     69  34.222222      6
D1    100  84.444444     31

In [15]:
# tabla donde guardar el % de cada textura
textura = pd.DataFrame(index=datos.index, columns=['grava', 'arena', 'limo', 'arcilla'])
textura

   grava arena limo arcilla
A1   NaN   NaN  NaN     NaN
B1   NaN   NaN  NaN     NaN
C1   NaN   NaN  NaN     NaN
D1   NaN   NaN  NaN     NaN

In [16]:
# completar la tabla de texturas
textura.grava = 100 - datos_f[2]
textura.arena = round(datos_f[2] - datos_f[0.05], 1)
textura.limo = round(datos_f[0.05] - datos_f[0.002], 1)
textura.arcilla = datos_f[0.002]
textura

    grava  arena  limo  arcilla
A1      0   11.0  73.0       16
B1     30   58.1   9.9        2
C1     31   34.8  28.2        6
D1      0   15.6  53.4       31

In [17]:
# extraer los porcentajes sólo para los finos
finos = ['arena', 'limo', 'arcilla']
textura_finos = textura[finos].copy()
textura_finos

    arena  limo  arcilla
A1   11.0  73.0       16
B1   58.1   9.9        2
C1   34.8  28.2        6
D1   15.6  53.4       31

In [18]:
# corregir de manera que los finos sumen 100
for soil in textura_finos.index:
    perc_finos = textura_finos.loc[soil, :].sum()
    textura_finos.loc[soil,:] = round(textura_finos.loc[soil,:] * 100 / perc_finos, 1)

textura_finos

    arena  limo  arcilla
A1   11.0  73.0     16.0
B1   83.0  14.1      2.9
C1   50.4  40.9      8.7
D1   15.6  53.4     31.0